.imgContainer {
    display: inline-block;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 100px;
    cursor: pointer;
}

.imgBox {
    width: 1000px;
    /*宽度动态*/
}

.imgItem {
    display: block;
    width: 200px;
    height: 200px;
}

.imgItemRow {
    display: inline-block;
}

